In [10]:
#Q.1
marks=int(input("enter marks"))
if marks>=90:
          print("grade-A")
elif 80<marks<=90:
          print("grade-B")
elif marks>=60 and marks<=80 :
          print("grade-C")
else:
          print("garde-D")

enter marks 95

grade-A

In [9]:
#Q.2
cost_price=int(input("enter cost price"))
if cost_price>100000:
    print("tax-15%")
elif 50000<cost_price<=100000:
 
    print("tax-10%")
else:
    print("tax-5%")

enter cost price 8978786

tax-15%

In [8]:
#Q.3
city=input("enter city")
if city=="Delhi":
    print("Red Fort")
elif city =="agra":
          print("Taj Mahal")
elif city =="jaipur":
    print("Jal MAhal")
else:
    print("")

enter city agra

Taj Mahal

In [7]:
#Q.4
count = 0
number = 180
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total iteration required', count)

Total iteration required 3

In [6]:
#Q.5

#while loop is used to run a block code until a certain condition is met
i = 1
n = 5


while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [5]:
#Q.6
#right triangle
n=int(input("enter number of rows"))
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=" ")
        j+=1
    print()
    i+=1

enter number of rows 5

*
* *
* * *
* * * *
* * * * *

In [4]:
#inverted right triangle
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  5

* * * * *
* * * *
* * *
* *
*

In [1]:
#number pattern
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  5

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

In [2]:
#Q.7
n=10
i=1
while n>=i:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1

In [3]:
#Q.8 
n=10
i=1
while n>=i:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1